
.text-section { padding-top: 0px;}
.bog-content-header { height: 300px; background-size: cover;}
.blog-content-header-title { margin: 0 auto; padding-top: 3rem; padding-bottom: 1rem; }
.text-section__container { padding-top: 100px; }