{% if page.enable-CTA == true %}
<div class="text-section__banner header__banner banner">
    <div class="header__form banner__form">
    <h2 class="text-section__banner-title header__title banner__title">Samla dina lån och unna dig <br>något extra i helgen</h2>
    <ul class="header__form-benefits">
        <li>Besked på 30 sekunder</li>
        <li>Svar från flera långivare</li>
        <li>En kreditupplysning</li>
    </ul>
    <form>
        <input type="tel" class="form-input" placeholder="Ditt mobilnummer" pattern=".{10}" required="" title="10 characters format">
        <div class="button-wrap"><button type="submit"></button></div>
    </form>
   <p class="terms">Genom att skicka in ansökan godkänner jag <a href="{{ site.baseurl }}/villkor" target="_blank">användaravtalet</a></p>
    </div>
</div>
{% endif %}