<div class="blog-listing__banner banner alt">
    <h2 class="blog-listing__title banner__title">Låt oss hjälpa dig också</h2>
    <div class="blog-listing__form banner__form">
        <p class="blog-listing__form-text banner__text">Du får besked inom 30 sekunder och kan ofta spara tusentals kronor.</p>
        <form>
            <input type="tel" class="form-input" placeholder="Ditt mobilnummer" pattern=".{10}" required="" title="10 characters format">
            <div class="button-wrap"><button type="submit"></button></div>
        </form>
        <p class="terms">Genom att skicka in ansökan godkänner jag <a href="{{ site.baseurl }}/villkor" target="_blank">användaravtalet</a></p>
    </div>
</div>