<div class="faq">
    <div class="faq__title section-title">
        <span class="faq__title-sm">Vanliga frågor och svar</span>
        <h2 class="faq__title-main">Saker som kan vara bra att veta</h2>
    </div>
    <div class="faq__block">
        <ul class="faq__list">
            {% for faq in site.faqs %}
                <li>
                    <p class="faq__list-question">{{ faq.question }}</p>
                    <div class="faq__list-answer">{{ faq.content }}</div>
                </li>
            {% endfor %}
        </ul>
        <!--<span class="faq__block-more">Visa fler frågor och svar</span>-->
    </div>
</div>