<div class="footer__info-list">
    <h3>Bolaget</h3>
    <ul>
        <li><a href="https://jobb.reducero.se/" target="_blank">Karriär</a></li>
        <li><a href="{{ site.baseurl }}/villkor">Användaravtal</a></li>
        <!--<li><a href="{{ site.baseurl }}/personuppgiftspolicy">Personuppgiftspolicy</a></li>-->
        <li><a href="{{ site.baseurl }}/cookies">Cookies</a></li>
    </ul>
</div>
<div class="footer__info-list">
    <h3>Kontakta oss</h3>
    <ul>
        <li><a href="mailto:{{site.email}}">{{site.email}}</a></li>
        <li><a href="tel:{{site.mobile}}">{{site.phone}}</a></li>
    </ul>
</div>