<div class="footer__mob">
    <div class="footer__mob-list footer__info-list company">
        <h3 class="active">Bolaget</h3>
        <ul>
            <li><a href="https://jobb.reducero.se/" target="_blank">Karriär</a></li>            
            <li><a href="{{ site.baseurl }}/villkor">Användarvillkor</a></li>
            <!--<li><a href="{{ site.baseurl }}/personuppgiftspolicy">Personuppgiftspolicy</a></li>-->
            <li><a href="{{ site.baseurl }}/cookies">Cookies</a></li>
        </ul>
    </div>
    <nav class="footer__mob-nav">
        {% include nav-list.html %}
    </nav>
    <div class="footer__mob-list footer__info-list">
        <h3>Kontakta oss</h3>
        <ul>
            <li><a href="mailto:{{site.email}}">{{site.email}}</a></li>
            <li><a href="tel:{{site.mobile}}">{{site.phone}}</a></li>
            <ul class="social">
                <li><a href="https://www.facebook.com/reducero.se"><img src="{{ site.baseurl }}/img/fb.svg" alt=""></a></li>
                <li><a href="https://twitter.com/reducerose"><img src="{{ site.baseurl }}/img/twitter.svg" alt=""></a></li>
            </ul>
        </ul>
    </div>
</div>