<div class="footer__bottom">
    <h3 class="footer__bottom-title active">Olika lån</h3>
    <ul class="footer__bottom-list">
        <li>
            <ul>
                <li><a href="{{ site.baseurl }}/lan/omstartslan">Omstartslån</a></li>
                <li><a href="{{ site.baseurl }}/lan/losa-lan">Lösa lån</a></li>
                <li><a href="{{ site.baseurl }}/lan/banklan">Banklån</a></li>
                <li><a href="{{ site.baseurl }}/lan/renoveringslan">Renoveringslån</a></li>
            </ul>
        </li>
        <li>
            <ul>
                <li><a href="{{ site.baseurl }}/lan/blancolan">Blancolån</a></li>
                <li><a href="{{ site.baseurl }}/lan/privatlan">Privatlån</a></li>
                <li><a href="{{ site.baseurl }}/lan/kontantinsatslan">Kontantinsatslån</a></li>
                <li><a href="{{ site.baseurl }}/lan/batlan">Båtlån</a></li>
            </ul>
        </li>
        <li>
            <ul>
                <li><a href="{{ site.baseurl }}/lan/billan">Billån</a></li>
                <li><a href="{{ site.baseurl }}/lan/handpenningslan">Handpenningslån</a></li>
                <li><a href="{{ site.baseurl }}/lan/fritidshuslan">Fritidshuslån</a></li>
                <li><a href="{{ site.baseurl }}/lan/">Lån utan säkerhet</a></li>
            </ul>
        </li>
        <li>
            <ul>
                <li><a href="{{ site.baseurl }}/lan/pensionarslan">Pensionärslån</a></li>
                <li><a href="{{ site.baseurl }}/lan/seniorlan">Seniorlån</a></li>
                <li><a href="{{ site.baseurl }}/lan/topplan">Topplån</a></li>
                <li><a href="{{ site.baseurl }}/lan/lan-med-betalningsanmarkning">Lån med betalningsanmärkning</a></li>
            </ul>
        </li>
    </ul>
    <span class="footer__bottom-copyright">Copyright © 2019</span>
</div>