<div class="header__mob">
    <nav class="header__mob-nav">
        {% include nav-list.html %}
    </nav>
    <div class="header__mob-service">
        <h3>Kundservice</h3>
        <ul>
            <li><a class='mail-link' href="mailto:{{site.email}}">{{site.email}}</a></li>
            <li><a class='tel-link' href="tel:{{site.mobile}}">{{site.phone}}</a></li>
        </ul>
        <a class="login-link" href="https://kund.reducero.se/">Logga in</a>			
    </div>
    <div class="close"><span></span></div>
</div>