<ul>
	{% if page.url contains '/blogg/' %}
    <li><a href="{{ site.baseurl }}/samla-lan">Samla lån</a></li>
    <li><a href="{{ site.baseurl }}/lana-pengar">Låna pengar</a></li>
    <li><a href="">&nbsp;</a></li>
	<li><a href="{{ site.baseurl }}/#team">Om oss</a></li>
	<li><a href="{{ site.baseurl }}/blogg">Blogg</a></li>
	{% else %}
    <li><a href="{{ site.baseurl }}/samla-lan">Samla lån</a></li>
    <li><a href="{{ site.baseurl }}/lana-pengar">Låna pengar</a></li>
    <li><a href="">&nbsp;</a></li>
    <li><a href="#team">Om oss</a></li>
    <li><a href="{{ site.baseurl }}/blogg">Blogg</a></li>
    {% endif %}
</ul>