---
layout: non-mainpage
---

    {% include header-mob.html %}
    
</header>

    {{ content }}

<footer class="footer-alt">
    <ul class="footer-alt__links">
        <li><a href="{{ site.baseurl }}/">Reducero</a></li>
        <li><a href="{{ site.baseurl }}/villkor">Användarvillkor</a></li>
        <li><a href="{{ site.baseurl }}/personuppgiftspolicy">Personuppgiftspolicy</a></li>
        <li><a href="{{ site.baseurl }}/cookies">Cookies</a></li>
    </ul>
    <span class="footer-alt__copyright">Copyright © 2019</span>
</footer>