<!DOCTYPE html>
<html lang="sv">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>{{ page.title }}</title>
	<meta name="description" content="{{ page.description }}">
	<meta name="keywords" content="{{ page.keywords }}">	
	<meta name="robots" content="index, follow">
	<meta name="author" content="Reducero">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Samla dina lån och unna dig något extra i helgen - Reducero">
	<meta property="og:description" content="Har du flera dyra lån och krediter? Grattis - då finns det pengar att spara. Låt oss på Reducero hjälpa dig.">
	<meta property="og:image" content="{{ site.baseurl }}/img/reducero-logo.png">
	<meta property="og:url" content="https://www.reducero.se/">

	<link rel="shortcut icon" href="{{ site.baseurl }}/img/reducero-logo.png" type="image/x-icon">
	<link rel="icon" href="{{ site.baseurl }}/img/reducero-logo.png" type="image/x-icon">

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/reset.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.min.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/custom.css">
	
	<script type="application/ld+json">
		{
		"@context" : "http://schema.org",
		"@type" : "Organization",
		"name" : "Reducero",
		"legalName": "Reducero AB",
		"email": "kundservice@reducero.se",
		"telephone": "+4620113341",
		"address": {
		"@type": "PostalAddress",
		"streetAddress": "Andra Långgatan 44",
		"postalCode": "41327",
		"addressLocality": "Göteborg",
		"addressRegion": "Västra Götaland",
		"addressCountry": "Sweden"
		},
		"aggregateRating": {
		"@type": "AggregateRating",
		"ratingCount": "41",
		"reviewCount": "41",
		"worstRating": "1",
		"bestRating": "5",
		"ratingValue": "5"
		},
		"taxID": "5569577728",
		"vatID": "SE556957772801",
		"url" : "https://www.reducero.se",
		"sameAs" : [
		"https://www.google.com/+reduceroSE",
		"https://www.facebook.com/reducero.se",
		"https://www.twitter.com/reduceroSE",
		"https://www.youtube.com/c/reduceroSE",
		"https://se.trustpilot.com/review/www.reducero.se"
		]
		}
	</script>

	<script>
		// [Google Analytics]
		(function (i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
						(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-50202952-1', 'auto');
		ga('send', 'pageview');
	</script>
	
	<!-- Begin Inspectlet Asynchronous Code -->
<script type="text/javascript">
(function() {
window.__insp = window.__insp || [];
__insp.push(['wid', 70918532]);
var ldinsp = function(){
if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=70918532&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
setTimeout(ldinsp, 0);
})();
</script>
<!-- End Inspectlet Asynchronous Code -->
</head>
	{{ content }}
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.4.10/cleave.min.js'></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/common.js"></script>
</html>