---
layout: default
---
<body>
    <div class="overflow-wrapper">
        <header class="header">
            <div class="header__top">
                <div>
                    <a href="{{ site.baseurl }}/" class="logo"><img src="{{ site.baseurl }}{{ site.logo }}" alt=""><span>{{site.title}}</span></a>
                    <a href="{{ site.baseurl }}/samla-lan">Samla lån</a>
                    <a href="{{ site.baseurl }}/lana-pengar">Låna pengar</a>
                </div>
                <div>
                    <a href="#support">Kundservice</a>
                    <a class='tel-link' href="tel:{{site.mobile}}">{{site.phone}}</a>
                    <a class='login-link' href="https://kund.reducero.se/">Logga in</a>
                    <div class="hamburger"><span></span></div>
                </div>
            </div>
            
            {% include header-mob.html %}
            
            <div class="header__banner banner" style="background-image: url({{ page.image_path }})">
                <h1 class="header__title banner__title">{{page.hero_title}}</h1>
                <div class="header__form banner__form">
                    <ul class="header__form-benefits">
                        {% for hero-item in page.hero_list %}
                            <li>{{ hero-item }}</li>
                        {% endfor %}
                    </ul>
                    <form>
                        <input type="tel" class="form-input" placeholder="Ditt mobilnummer" pattern=".{10}" required="" title="10 characters format">
                        <div class="button-wrap"><button type="submit"></button></div>
                    </form>
                    <p class="terms">Genom att skicka in ansökan godkänner jag <a href="{{ site.baseurl }}/villkor"  target="_blank">användaravtalet</a></p>
                </div>
            </div>
            <div class="header__reviews">
                <h3 class="header__reviews-title">De senaste omdömena</h3>
                <ul class="header__reviews-list owl-carousel">
                    {% for author in site.authors %}
                        <li>
                            <div class="header__reviews-img"><img src="{{ site.baseurl }}{{author.image}}" alt=""></div>
                            <ul class="stars--sm">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <p class="header__reviews-author">{{author.name}}</p>
                            <p class="header__reviews-quote">“{{author.quote}}”</p>
                        </li>
                    {% endfor %}	
                </ul>
            </div>
        </header>
    
    <section class="review">
        <div class="review__title section-title">
            <span class="review__title-sm editable">Medlemmars upplevelser</span>
            <h2 class="review__title-main editable">Varje lån bär på en unik berättelse</h2>
        </div>
        <div class="review__content container fixed-height">
            <div class="review__responsive"></div>
            <div class="quote-wrapper">
                <div class="quote-block">
                    <ul class="stars">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <blockquote class="review__content-quote quote-block__quote editable">“Jag fick ett lån via Reducero, fast jag var stensäker att det var en omöjlighet, lyfter på kepsen”</blockquote>
                    <span class="review__content-author quote-block__author editable">Slobodan har lämnat ett omdöme om Reducero</span>
                </div>
            </div>
        </div>
    </section>
    
    <section class="works">
        <div class="works__title section-title">
            <span class="works__title-sm editable">Så fungerar Reducero</span>
            <h2 class="works__title-main editable">Sänkt månadskostnad på 30 sekunder</h2>
        </div>
        <div class="works__responsive">
            <ul class="works__steps container">
                <li>
                    <div class="works__steps-num"><span>1</span></div>
                    <h3 class="works__steps-title editable">Ansök nu,<br> helt gratis!</h3>
                    <p class="works__steps-text editable">Skicka in din ansökan. Det tar runt 2 minuter. Behöver du hjälp kan du nå oss på: <a href="tel:{{site.mobile}}">020 - 11 33 41</a></p>
                </li>
                <li>
                    <div class="works__steps-num"><span>2</span></div>
                    <h3 class="works__steps-title editable">Vi samlar<br> erbjudanden</h3>
                    <p class="works__steps-text editable">Vi samlar in erbjudanden från flera långivare och du får oftast svar på en minut.</p>
                </li>
                <li>
                    <div class="works__steps-num"><span>3</span></div>
                    <h3 class="works__steps-title editable">Du sparar<br> pengar!</h3>
                    <p class="works__steps-text editable">Du jämför och väljer det erbjudande som passar dig bäst.</p>
                </li>
            </ul>
        </div>
        
    </section>
    
    <section class="benefits" id="features">
        <div class="container">
            <div class="benefits__top">
                <div class="benefits__top-text">
                    <p class="editable">Olika långivare erbjuder olika räntor för samma lånebelopp. Vi på Reducero hjälper dig att hitta rätt lån bland alla långivarna - helt kostnadsfritt.</p>
                </div>
                <h2 class="benefits__top-title">Varför <br>ska jag använda<br> Reducero?</h2>
            </div>
            <ul class="benefits__list">
                <li>
                    <div class="benefits__feature">
                        <h3 class="benefits__feature-title editable">Besked på 30 sekunder</h3>
                        <p class="benefits__feature-text editable">Tid är pengar. Och eftersom det är just pengar vi vill spara åt dig, ser vi också till att inte slösa med din tid. Därför får du alltid besked inom 30 sekunder.</p>
                    </div>
                    <div class="benefits__review quote-block">
                        <ul class="stars">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <blockquote class="benefits__quote quote-block__quote editable">“Bra service och snabb insättning.”</blockquote>
                        <span class="benefits__quote-author quote-block__author editable">Sylvana har lämnat ett omdöme om Reducero</span>
                    </div>
                </li>
                <li>
                    <div class="benefits__feature">
                        <h3 class="benefits__feature-title editable">30 dagars betänketid</h3>
                        <p class="benefits__feature-text editable">Besked får du direkt - beslut kan du vänta med. Alla erbjudanden är giltiga i 30 dagar, så du kan i lugn och ro fundera innan du går vidare.</p>
                    </div>
                    <div class="benefits__review quote-block">
                        <ul class="stars">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <blockquote class="benefits__quote quote-block__quote editable">“Trevlig personal, lätt att förstå och bra service.”</blockquote>
                        <span class="benefits__quote-author quote-block__author editable">Arisvalda har lämnat ett omdöme om Reducero</span>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    
    <section class="faq-team" id="faq">
    
        {% include faq.html%}
    
        <div class="contact"  id="support">
            <div class="contact__title section-title">
                <span class="contact__title-sm editable">Något annat du funderar över?</span>
                <h2 class="contact__title-main editable">Vi är bara ett samtal eller mail bort</h2>
            </div>
            <ul class="contact__list">
                <li>
                    <a href="mailto:{{ site.email }}" class="contact__link mail">
                        <span>Maila oss:</span>
                        <p>@reducero.se</p>
                    </a>
                </li>
                <li>
                    <a href="tel:{{site.mobile}}" class="contact__link tel">
                        <span>Ring oss:</span>
                        <p>{{site.phone}}</p>
                    </a>
                </li>
            </ul>
        </div>
    
        <div class="team" id="team">
            <div class="team__top">
                <div class="team__top-title editable">Hej! <br>Det är vi som är <br> Reducero.</div>
                <div class="team__top-text editable">Vi är en oberoende låneförmedlare – gratis och öppen för alla att använda.</div>
            </div>
            <div class="team__content container fixed-height">
                <div class="team__responsive"></div>
                <div class="quote-wrapper">
                    <div class="quote-block">
                        <blockquote class="team__quote quote-block__quote editable">“Vårt mål är att stärka dig som låntagare i förhållande till långivarna.”</blockquote>
                        <div class="team__person quote-block__person">
                            <div class="team__person-img quote-block__person-img">
                                <img calss="editable" src="{{ site.baseurl }}/img/team-khim-square.png" alt="">
                            </div>
                            <span class="team__person-name quote-block__person-name editable">Khim Lindroos</span>
                            <p class="team__person-post quote-block__person-post editable">Kundservicechef</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="partners">
        <div class="partners__title section-title">
            <span class="partners__title-sm editable">Våra samarbetspartners</span>
            <h2 class="partners__title-main editable">Några av Sveriges bästa långivare</h2>
        </div>
        <ul class="partners__list owl-carousel">
            {% for banker in site.bankers %}
                <li><img src="{{ site.baseurl }}/{{ banker.image_path }}" alt=""></li>
            {% endfor %}
        </ul>
        <div class="partners__banner banner">
            <h2 class="partners__title banner__title">Låt oss hjälpa dig också</h2>
            <div class="partners__form banner__form">
                <p class="partners__form-text banner__text">Du får besked inom 30 sekunder och kan ofta spara tusentals kronor.</p>
                <form>
                    <input type="tel" class="form-input" placeholder="Ditt mobilnummer" pattern=".{10}" required="" title="10 characters format">
                    <div class="button-wrap"><button type="submit"></button></div>
                </form>
                <p class="terms">Genom att skicka in ansökan godkänner jag <a href="{{ site.baseurl }}/villkor" target="_blank">användaravtalet</a></p>
            </div>
        </div>
    </section>
    
    <footer class="footer">
        <div class="container">
            <div class="footer__top">
                <div class="footer__left">
                    <div class="footer__quote quote-block">
                        <a href="{{ site.baseurl }}" class="footer__quote-logo"><img src="{{ site.baseurl }}{{ site.logo }}" alt="">{{site.title}}</a>
                        <blockquote class="footer__quote-text quote-block__quote editable">“Vi är en oberoende låneförmedlare – gratis och öppen för alla att använda. ”</blockquote>
                    </div>
                    {% include footer-left-nav.html %}
                </div>
                <div class="footer__info">
                    <p class="footer__info-text editable">Reducero är ett svenskt aktiebolag (556957-7728) och registrerad låneförmedlare hos Bolagsverket. Reducero bedriver tillståndspliktig verksamhet med Finansinspektionen (044015) och Konsumentverket som tillsynsmyndigheter. Det är en stor trygghet och kvalitetsstämpel för dig som använder Reducero.</p>
                    <div class="footer__info-wrapper">
                        <div class="footer__info-list-top">
                            {% include footer-info-list.html %}
                        </div>
                        <div class="footer__info-list social">
                            <h3>Folow us</h3>
                            <ul>
                                <li><a href="https://twitter.com/reducerose"><img src="{{ site.baseurl }}/img/twitter.svg" alt=""></a></li>
                                <li><a href="https://www.facebook.com/reducerose"><img src="{{ site.baseurl }}/img/fb.svg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    {% include footer-mob.html %}
                        
                </div>
            </div>
            {% include footer-bottom.html %}		
        </div>
    </footer>
    </div>
</body>