---
layout: default
---
<body class="alt">
    <div class="overflow-wrapper">
        <header class="header header-alt">
            <div class="header__top header-alt__top">
                <div>
                    <a href="/" class="logo"><img src="{{ site.baseurl }}{{ site.logo }}" alt=""><span>{{site.title}}</span></a>
                </div>
                <div>
                    <a class='tel-link' href="tel:{{site.mobile}}">{{site.phone}}</a>
                    <a class='login-link' href="">Logga in</a>
                    <div class="hamburger"><span></span></div>
                </div>
            </div>
            {% include header-mob.html %}
        </header>        
        {{ content }}    
    </div>  
</body>