---
layout: non-mainpage
---

{{ content }}

<footer class="footer-seo footer">
  <div class="container">
    <div class="footer-seo__top footer__top">
      <div class="footer-seo__left footer__left">
        <a href="/" class="footer__quote-logo"><img src="{{ site.baseurl }}{{ site.logo }}" alt="">{{site.title}}</a>
        <p class="footer-seo__text footer__info-text">Reducero är ett svenskt aktiebolag (556957-7728) och registrerad låneförmedlare hos Bolagsverket. Reducero bedriver tillståndspliktig verksamhet med Finansinspektionen (044015) och Konsumentverket som tillsynsmyndigheter. Det är en stor trygghet och kvalitetsstämpel för dig som använder Reducero.</p>
        {% include footer-left-nav.html %}
      </div>
      <div class="footer-seo__info footer__info">
        {% include footer-info-list.html %}
        {% include footer-mob.html %}
      </div>
    </div>
    {% include footer-bottom.html %}
  </div>
</footer>