---
layout: blogg
---
<main class="blog-listing text-section">				
	<div class="blog-listing__container text-section__container">		
			<h1 class="text-section__post-title blog-listing__title">{{ page.headline }}</h1>
			<h3 class="text-section__post-title blog-listing__title">{{ page.subline }}</h3>
		{% if page.author_member %}
			{% assign author_id = page.author_member | prepend: "/authors/" | append: ".html" %}
			{% assign author = site.authors | where: "url", author_id | first %}
			<div class="blog-listing__author-info">
				<div class="blog-listing__img"><img src="{{ site.baseurl }}/{{ author.image }}" alt=""></div>
				<div class="blog-listing__author">
					<div>
						<p class="blog-listing__name"><span>by </span>
							<a class="blog-listing__name-link" href="">{{ author.name }}</a>
						</p>
						<p class="blog-listing__category"><span>in </span>
							<a class="blog-listing__category-link" href="">{{ author.role }}</a>
						</p>
					</div>
					<div class="blog-listing__duration">{{ page.duration }}</div>
				</div>
			</div>
		{% endif %}
		<div class="blog-listing__thumbnail"><img src="{{ site.baseurl }}{{ page.background }}" alt=""></div>
		{{ content }}
		
	</div>
	{% include content-cta.html %}
</main>