---
layout: page
---
<main class="blog-listing text-section seo">
	<div class="blog-listing__container text-section__container">
		<h2 class="text-section__seo-title blog-listing__title">{{ page.headline }}</h2>		
			{{ content }}
	</div>
</main>


